{% extends 'base/dashboard_admin.html'%}
{%block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        
    </style>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/base/css/base/containers.css" type="text/css">

</head>

<body>
    <div class="projects-section-header">
        <p>Modificar Pregunta de Texto</p>
    </div>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Modificar" class="button1">

</form>
{{mensaje}}

{% endblock %}
</body>