{% extends 'base/dashboard_admin.html'%}
{%block content %}

<head>
    <style>
        
    </style>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/base/css/base/containers.css" type="text/css">

</head>

<body>
    <div class="projects-section-header">
        <p>Modificar Pregunta de Texto</p>
    </div>
<table >
	</thead>
	<tbody>
		<div class="grid-container4" style="padding-top: 30px;">
			<div class="name">Nombre Pregunta</div>
			<div class="name">Valor</div>
			<div class="name">Texto</div>
			<div class="name">Modificar</div>
		</div>
		<hr style="color: rgba(0, 0, 0, 0.527); background-color: rgba(0, 0, 0, 0.253); width:95%; margin-left: -5px; margin-top: 0%;" />         
		
		{% if object_list %}
		{% for p in object_list %}


		<tr>
			<thead>
			<div class="grid-container4_1">
				<div class="name">{{ p.question }}</div>
				<div class="name">{{ p.value }}</div>
				<div class="name">{{ p.text }}</div>
				<a href="{% url 'editar_text' p.id %}" class="button1">Modificar</a>
					
			</div>
			<hr style="color: rgba(0, 0, 0, 0.527); background-color: rgba(0, 0, 0, 0.041); width:95%; margin-left: -5px; margin-top: 0%; margin-top: 0px;" />

		</tr>
		{% endfor %}
		
		{% else %}
		<div style="padding-top: 50px;align-self: center; text-align-last: center;">
			<img src="../../static/base/img/lupa.png" alt="" style="height: 60px; width: 60px;">
			<h1>No hay registros de solicitudes</h1>
		</div>
		{% endif %}
	</tbody>
</table> 

{% endblock%}
</body>