#id_users_number {
  width: 100%;
}

.button1 {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    max-inline-size: max-content;
  }
  .button1:hover {
  background-color: #3ac1e1; /*not Green */
  color: white;
  }
  
  .grid-container3 {
    background-color: transparent;
    display: grid;
    grid-template-columns: 33% 30% 30%;
    /* grid-gap: 10px; */
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    align-items: center;
    }
    
    .grid-container3 > div {
    background-color: transparent;
    text-align:left;
    font-size: 20px;
    font-weight: 700;
    }

    .grid-container3_1 {
      background-color: transparent;
      display: grid;
      grid-template-columns: 33% 30% 30%;
      /* grid-gap: 10px; */
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 400;
      }
      
    .grid-container3_1 > div {
    background-color: transparent;
    text-align:left;
    font-size: 20px;
    font-weight: 400;
    }

    .grid-container4 {
      background-color: transparent;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      /* grid-gap: 10px; */
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 700;
      align-items: center;
      }
      
      .grid-container4 > div {
      background-color: transparent;
      text-align:left;
      font-size: 20px;
      font-weight: 700;
      }

    .grid-container4_1 {
      background-color: transparent;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      /* grid-gap: 10px; */
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 400;
      }
      
      .grid-container4_1 > div {
      background-color: transparent;
      text-align:left;
      font-size: 20px;
      font-weight: 400;
      }

      .grid-container5 {
        background-color: transparent;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        /* grid-gap: 10px; */
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        align-items: center;
        }
        
        .grid-container5 > div {
        background-color: transparent;
        text-align:left;
        font-size: 20px;
        font-weight: 700;
        }
  
      .grid-container5_1 {
        background-color: transparent;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        /* grid-gap: 10px; */
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 400;
        }
        
        .grid-container5_1 > div {
        background-color: transparent;
        text-align:left;
        font-size: 20px;
        font-weight: 400;
        }

      .grid-container6 {
        background-color: transparent;
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 17%;
        /* grid-gap: 10px; */
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 700;
        align-items: center;
        }
        
        .grid-container6 > div {
        background-color: transparent;
        text-align:left;
        font-size: 20px;
        font-weight: 700;
        }
  
      .grid-container6_1 {
        background-color: transparent;
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 17%;
        /* grid-gap: 10px; */
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 400;
        }
        
        .grid-container6_1 > div {
        background-color: transparent;
        text-align:left;
        font-size: 20px;
        font-weight: 400;
        }

  .grid-column4{
    column-count: 4;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }

  .fondo{
      size: 300px;
  }

  .fondo_div{
    position:fixed;
    top: 65%;
    right: 5%;
  }

  .input1[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .select-css {
    display: block;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: 0.4em 12.4em .3em .8em;
    width: 400px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    max-inline-size: fit-content;
   }
   .select-css::-ms-expand {
    display: none;
   }
   .select-css:hover {
    border-color: #888;
   }
   .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
   }
   .select-css option {
    font-weight:normal;
   }

   