/* ---------------------------------------------
    Assets
--------------------------------------------- */
/* ---------------------------------------------
    Colors
--------------------------------------------- */
/* ---------------------------------------------
    Fonts
--------------------------------------------- */
/* ---------------------------------------------
    Mixins
--------------------------------------------- */
/* ---------------------------------------------
    Stylings
--------------------------------------------- */
html, body {
    height: 100%;
  }

  body {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    background: #837fff;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
  }
  body.choice-1 {
    background-color: #837fff;
  }
  body.choice-1 section.background-select .card h1 {
    color: #837fff;
  }
  body.choice-2 {
    background-color: #ff4949;
  }
  body.choice-2 section.background-select .card h1 {
    color: #ff4949;
  }
  body.choice-3 {
    background-color: #399d89;
  }
  body.choice-3 section.background-select .card h1 {
    color: #399d89;
  }

  section.background-select {
    width: 500px;
    height: 270px;
    background-color: #ffffff;
    position: relative;
    z-index: 21;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
  }
  section.background-select .card {
    width: 580px;
    height: 270px;
    overflow: hidden;
    padding: 40px 20px;
  }
  section.background-select .card h1 {
    font-size: 24px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #837fff;
    margin-top: 0px;
    margin-bottom: 40px;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
  }
  section.background-select .card .color-choices {
    margin-top: -120px;
    width: 100%;
    float: left;
    position: relative;
  }
  section.background-select .card .color-choices div {
    width: 30%;
    height: 225px;
    float: left;
    text-align: center;
  }
  section.background-select .card .color-choices div input {
    width: 0px;
    height: 0px;
    position: absolute;
    top: -99999px;
    left: -99999px;
  }
  section.background-select .card .color-choices div input:checked ~ label:after {

    width: 65px;
    height: 65px;
    margin-top: -32.5px;
    margin-left: -32.5px;
  }
  section.background-select .card .color-choices div:nth-of-type(1) label:before {
    width: 113%;
    height: 110%;
    margin-left: -89px;
    background-size: cover;
    background-image: url("/static/base/img/cards/2_de_corazon.jpg");
    background-color: #837fff;
  }
  section.background-select .card .color-choices div:nth-of-type(1) label:after {
    background-color: #cdccff;
  }
  section.background-select .card .color-choices div:nth-of-type(2) label:before {
    width: 100%;
    height: 110%;
    background-size: cover;
    background-image: url("/static/base/img/cards/4_de_pica.jpg");

    background-color: #ff4949;
  }

  section.background-select .card .color-choices div:nth-of-type(2) label:after {
    width: 111%;
    height: 110%;
    background-size: cover;
    background-color: #ff9696;
  }
  section.background-select .card .color-choices div:nth-of-type(3) label:before {
    background-image: url("/static/base/img/cards/j_de_pica.jpg");
    background-color: #399d89;
  }
  section.background-select .card .color-choices div:nth-of-type(3) label:after {

    background-color: #5ec5b0;
  }
  section.background-select .card .color-choices div label {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 20;
  }
  section.background-select .card .color-choices div label:before {
    content: "";
    width: 111%;
    height: 111%;
    display: inline-block;
    background: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27.5px;
    margin-left: -82.5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 10;
  }

  section.background-select .card .color-choices div label:hover {
    cursor: pointer;
  }


  .checkedItem:before {
    width: 100%;
    height: 110%;
    border-radius: 25px;
    border:solid;
    background-size: cover;
    background-image: url("/static/base/img/cards/4_de_pica.jpg");

    background-color: #ff4949;
  }