{% extends 'base/main.html'%}
{%block content %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="background-select">
  <div class="card">
    <h1>Selecciona una carta</h1>

    <div class="color-choices">
      <div>
        <input id="choice-1" checked="checked" name="choice" type="radio"/>
        <label for="choice-1"style="margin-left:-20px;"></label>
      </div>

      <div>
        <input id="choice-2" name="choice" type="radio"/>
        <label for="choice-2"style="margin-left:10px;"></label>
      </div>

      <div>
        <input id="choice-3" name="choice" type="radio"/>
        <label for="choice-3"style="margin-right:-50px;"></label>
      </div>
    </div>
  </div>
</section>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>

</body>
</html>
<script>
  $(document).ready(function() {
  $('label[for=choice-1]').click(function() {
    console.log(1)
  });

  $('label[for=choice-2]').click(function() {
      console.log(2)
  });

  $('label[for=choice-3]').click(function() {
    console.log(3)
  });
});
</script>
{% endblock%}