{% extends 'base/main.html'%}
{%block content %}

<div class="dadete">
    <h1>Crear un dado</h1>
    <div id="dado"></div>
    <button id="boton" onClick="lanzar()">Lanzar el dado</button>
  </div>
  <!-- partial -->
    <script  src="./dado_lanzar.js"></script>

{% endblock%}