{% extends 'base/dashboard_admin.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

	<style>
		.select1 {

			display: block;
			width: 100%;
			height: calc(1.5em + 0.75rem + 2px);
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
		}
	</style>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../../static/base/css/base/containers.css" type="text/css">
	<link rel="stylesheet" href="../../static/base/css/base/style.css" type="text/css">

</head>

<body>

	<div class="projects-section-header" style="background-image: src('/static/base/img/persona.png')">
		<p>Asignaciones</p>
	</div>

	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			{% if message == 'Usuario ya esta asignado a esta campaña.' %}
				<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endif %}
			{% if message == 'Asignacion Creada.' %}
				<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	{% endif %}


	<form method="post">
		{% csrf_token %}
		{% if list_company %}

		<div class="row">
			<h style="font-family: 'Open Sans', sans-serif"> Empresa:</h>
			<select class="select1" name="selectEmpresa" placeholder="Selecione campaña">
				<option value="None">------------</option>
				{% for item in list_company %}
				<option value="{{item.id}}">{{item.name}}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}

		{% if list_user %}
		<div class="row" style="margin-top:15px;">
			<h style="font-family: 'Open Sans', sans-serif"> Usuario:</h>
			<select class="select1" name="selectUsuario" placeholder="Selecione campaña">
				<option value="None">------------</option>
				{% for item in list_user %}
				<option value="{{item.id}}">{{item.email}}</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}

		{% if list_campaign %}
		<div class="row" style="margin-top:15px;">
			<h style="font-family: 'Open Sans', sans-serif"> Campaña:</h>
			<select class="select1" name="selectCampana" placeholder="Selecione campaña">
				{% for item in list_campaign %}
				<option value="{{item.id}}">{{item.name}}</option>
				{% endfor %}
			</select>
		</div>

		{% endif %}

		<div class="form-group">
			<button class="button1" type="submit" style="margin-top: 20px;">Guardar</button>
		</div>
	</form>

	{% endblock %}

</body>