<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <title>Administrador - Project Gamification</title>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../../static/base/css/base/style.css">
    <!-- <link rel="stylesheet" href="{% static 'base/css/base/style.css'%}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <link href="/static/base/css/dashboard/dcverticalmegamenu.css" rel="stylesheet" type="text/css" />
    <link href="/static/base/css/dashboard/dcverticalmegamenu.css" rel="stylesheet" type="text/css" />
    <link href="/static/base/css/dashboard/menu2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type='text/javascript' src='/static/base/js/dashboard/jquery.hoverIntent.minified.js'></script>
    <script type='text/javascript' src='/static/base/js/dashboard/jquery.dcverticalmegamenu.1.3.js'></script>
    <link href="../../../AppBase/static/base/css/dashboard/menu2.css" rel="stylesheet" type="text/css" />
    <link href="../../../AppBase/static/base/css/base/containers.css" rel="stylesheet" type="text/css" />


</head>

<body style="background-image: url('../../static/base/img/fondo2.png'); background-size: 100% 100%;">
    <div class="app-container2">
        <div class="app-header">
            <div class="app-header-left" style="padding-left: 50px">
                <img src="/static/base/img/logoTG.png" alt="">
                
                <p class="app-name" style="color: #f7f7f5; font-family: 'Josefin Slab', serif; font-size: 45px;">Panel Administrador</p>
                
            </div>
            <div class="app-header-right">
                <button class="mode-switch" title="Switch Theme" style="color: white">
                    <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                </button>
                <button class="profile-btn">
                    <img src="https://assets.codepen.io/3306515/IMG_2025.jpg" />
                    <span style="color: white">User M.</span>
                </button>
            </div>
            <button class="messages-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-message-circle">
                    <path
                        d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
                </svg>
            </button>
        </div>
        <div class="app-content">
            <div class="app-sidebar">

                <nav style="margin: 0px auto;BORDER-RADIUS: 15PX 15PX 0PX 0PX;">
                    <label for="touch"><span class="span1">Usuarios    </span></label>               
                    <input type="checkbox" id="touch"> 
                    <ul class="slide">
                      <li><a href="../../new_user">Agregar nuevo usuario</a><img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li> 
                      <li><a href="../../list_user/">Ver usuarios</a></li>
                    </ul>
                  </nav> 

                  <nav style="margin: 0px auto;">
                    <label for="touch2"><span class="span1">Empresas    </span></label>                 
                    <input type="checkbox" id="touch2"> 
                    <ul class="slide">
                      <li> <a href="../../new_company">nueva empresa</a> <img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li> 
                      <li><a href="../../list_company/">Ver empresas</a></li>
                    </ul>
                  </nav> 


                  
                  <nav style="margin: 0px auto;BORDER-RADIUS: 0PX 0PX 15PX 15PX;">>
                    <label for="touch3"><span class="span1">Procesos</span></label>                 
                    <input type="checkbox" id="touch3"> 
                    <ul class="slide" >
                      <li><a href="../../new_poll">Crear Encuesta</a><img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li> 
                      <li><a href="../../list_poll">Ver encuestas</a></li>
                      <li><a href="../../new_pollCampaign">Crear Campaña</a><img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li>
                      <li><a href="../../list_pollCampaing">Ver Campañas</a></li>
                      <li><a href="../../new_PollQuestions">Crear Pregunta</a><img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li> 
                      <li><a href="../../list_pollQuestions">Ver Preguntas</a></li>
                      <li><a href="../../newQuestionChoice">Crear pregunta de Seleccion</a><img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li>
                      <li><a href="../../listQuestionChoice">Ver preguntas de Seleccion</a></li>
                      <li><a href="../../procexcom">Ver procesos por Empresa</a></li>

                    </ul>
                  </nav> 
                  
                  <nav style="margin: 0px auto;">
                    <label for="touch4"><span class="span1">Asignaciones  </span></label>                 
                    <input type="checkbox" id="touch4"> 
                    <ul class="slide">
                      <li><a href="../../new_asignament">Crear Asignaciones</a><img src= "../../static/base/img/mas.png" class="icon-add" alt="" ></li>
                      <li><a href="../../list_asignament">Ver Asignaciones</a></li>
                    </ul>
                  </nav>
                  <nav style="margin: 0px auto;">
                    <label for="touch5"><span class="span1">Listado de procesos por Empresa</span></label>                 
                    <input type="checkbox" id="touch5"> 
                    <ul class="slide">
                      <li><a href="../../list_procesos_empresas">Ver procesos por Empresa</a></li>
                    </ul>
                  </nav>
                  <nav style="margin: 0px auto;">
                    <label for="touch6"><a href="{% url 'logout' %}">Cerrar sesion </a></label>                 
                   </nav>


                  
                    <div class="demo-container clear">
                    <div class="test">

                        
                    </div>
                    </div>
            </div>
            <div class="projects-section">
                {% block content %}

                

                {% endblock %}
            </div>
        </div>
    </div>
    </div>
    <!-- partial -->
    <script src="{% static 'base/js/base/script.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="menu.js"></script>

</body>

</html>