<!DOCTYPE html>
<html lang="en">

{% extends 'base/dashboard_admin.html'%}
{%block content %}

<head>

    {% load static %}
    <style>
        /* css */
    </style>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/css/base/style.css'%}">
    <link rel="stylesheet" href="../../static/base/css/base/containers.css">


</head>


<body>
    <div class="projects-section-header">
        <p>Asignación de Campañas</p>
    </div>


    <tr>
        <div class="grid-container5" style="padding-top: 30px;">
                <div class="name">ID</div>
                <div class="name">Campaña</div>
                <div class="name">Encuesta</div>
                <div class="name">Usuario</div>
                <div class="name">Accion</div>


        </div>
        <hr style="color: rgba(0, 0, 0, 0.527); background-color: rgba(0, 0, 0, 0.212); width:90%; margin-left: -5px; margin-top: 0%;" />

    </tr>
        {% for p in list %}

        <tr>
            <table>
                <div class="grid-container5_1">
                        <div class="name">{{ p.id }}</div>
                        <div class="name">{{ p.poll_campaign.name  }}</div>
                        <div class="name">{{ p.poll.name  }} </div>
                        <div class="name">{{ p.user.email  }}</div>
                        <div class="name mb-3" style="margin-top: -35px;">
                            <form action="/sendEmail"  method="POST" >
                                {% csrf_token %}
                                <!-- <input type="text" name="user_email" id="" style="visibility: hidden;" {{ p.user.email  }} ><input -->
                                <input type="" name="sendEmail" style="visibility:hidden;"></input>
                                <button>Enviar Correo</button>
                            </form>
                        </div>
                </div>
            </table>
            <hr style="color: rgba(0, 0, 0, 0.527); background-color: rgba(0, 0, 0, 0.068); width:90%; margin-left: -5px; margin-top: 0%; margin-top: 10px;" />

        </tr>


        {% endfor %}
    </table>




    {% endblock %}