<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'base/css/base/style.css'%}">

  <link rel="stylesheet" href="{% static 'base/css/games/style_dado.css'%}"><!--style dado -->
  <script src="{% static 'base/js/games/dado_lanzar.js'%}"></script><!--script dado -->
  <link rel="stylesheet" href="{% static 'base/css/style_card.css'%}"><!--style carta -->
  <script src="{% static 'base/js/games/generate_card.js'%}"></script><!--script carta -->
</head>

<body style="background-image: url('../../static/base/img/fondo3.png'); background-size: 100% 100%;">
  <!-- partial:index.partial.html -->
  <div class="app-container">
    <div class="app-header">
      <div class="app-header-left">
        <img src="/static/base/img/logoTG.png" alt="">
        <p class="app-name" style="color: white;">Home</p>
        <div  style="background-color: #002e41;">

        </div>
      </div>
      <div class="app-header-right">
        <button class="mode-switch" title="Switch Theme">
          <svg class="moon" style="color: white;" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
            <defs></defs>
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
        </button>
        <button class="add-btn" title="Add New Project">
          <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-plus">
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
          </svg>
        </button>
        <button class="profile-btn">
          <span>{% if user.name %}{{user.name}}{% endif %} </span>
          <img style="margin-left: 10px;" src="https://assets.codepen.io/3306515/IMG_2025.jpg" />
        </button>
      </div>
      <button class="messages-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-message-circle">
          <path
            d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
        </svg>
      </button>
    </div>
    <div class="app-content">
      <div class="app-sidebar">
        <a href="" class="app-sidebar-link active">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-home">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
            <polyline points="9 22 9 12 15 12 15 22" />
          </svg>
        </a>
      </div>
      <div class="projects-section">
        <div class="projects-section-header">
          <p>Actividades</p>
          <p class="time">December, 12</p>
        </div>
        <div class="projects-section-line">
          <div class="projects-status">
            <div class="item-status">
              <span class="status-number">{{poll_active}}</span>
              <span class="status-type">Activas</span>
            </div>
            <div class="item-status">
              <span class="status-number">{{poll_end}}</span>
              <span class="status-type">Terminadas</span>
            </div>
            <div class="item-status">
              <span class="status-number">{{poll_all}}</span>
              <span class="status-type">Total</span>
            </div>
          </div>
          <div class="view-actions">
            <button class="view-btn list-view" title="List View" onclick="listview()">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
                <line x1="3" y1="6" x2="3.01" y2="6" />
                <line x1="3" y1="12" x2="3.01" y2="12" />
                <line x1="3" y1="18" x2="3.01" y2="18" />
              </svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View" onclick="gridview()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
              </svg>
            </button>
          </div>
        </div>
        <div class="project-boxes jsGridView row" id="divgrid">
          <div class="project-box-wrapper col-12 row" id="polls">
          </div>
          {% block content %}



          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <!-- partial -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'base/js/base/script.js'%}"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    fetch("/api/1.0/my-polls/", {
      method: "GET",
      credentials: "same-origin",
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
        "Accept": "application/json",
        "Content-Type": "application/json"
      },
    }).then(function (response) {
      return response.json();
    }).then(function (data) {
      let today = new Date();

      let poll_info = ''
      poll_info = data.map(item => {
        var get_polls = ''
        var end_date = '∞'
        if (item.poll_campaign.end_date) {

          end_date = parseInt(moment(today).diff(item.poll_campaign.end_date.substr(0, 10), 'days')) * -1 + 1
        }
        let classbox = 'project-box'
        if ($("#divgrid").hasClass("jsGridView")) {
          classbox = 'project-box col-12'
        } else {
          classbox = 'project-box'
        }

        get_polls = '<div name="' + item.poll.name + '" class="divclass col-4"><div class="' + classbox + '" style="background-color: #e9e7fd; margin: 0px 0px 27px 0px;" data-toggle="modal" data-target=".bd-example-modal-lg_' + item.id + '">' +
          '<div class="project-box-header">' +
          '<span>' + item.created_at.substr(0, 10) + '</span>' +
          '<div class="more-wrapper">'  +
          '</button>' +
          '</div>' +
          '</div>' +
          '<div class="project-box-content-header">' +
          '<p class="box-content-header">' + item.poll.name + '</p>' +
          '<p class="box-content-subheader">' + item.poll.description + '</p>' +
          '</div>' +
          '<div class="box-progress-wrapper">' +
          '<p class="box-progress-header">Progreso</p>' +
          '<div class="box-progress-bar">';
        if (item.responses.length) {
          get_polls += '<span class="box-progress" style="width: 100%; background-color: #4f3ff0"></span>' +
            '</div>' +
            '<p class="box-progress-percentage">' +
            '100%';
        } else {
          get_polls += '<span class="box-progress" style="width: 0%; background-color: #4f3ff0"></span>' +
            '</div>' +
            '<p class="box-progress-percentage">' +
            '0%';
        }
        get_polls += '</p>' +
          '</div>' +
          '<div class="project-box-footer">' +
          '<div class="participants">' +
          '</button>' +
          '</div>' +
          '<div class="days-left" style="color: #ff942e;">' +
          'Termina en: ' + end_date + ' dias' +
          '</div>' +
          '</div>' +
          '</div>' +
          '<div class="modal fade bd-example-modal-lg_' + item.id + '" id="modal_data_' + item.id + '" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">' +
          '<div class="modal-dialog modal-lg">' +
          '<div class="modal-content">' +
          '<form method="POST" action="/poll/quiz_response/' + item.poll.id + '/" enctype="multipart/form-data">' +
          '{% csrf_token %}' +
          createQuiz(item);

        get_polls += '</form>' +
          '</div>' +
          '</div>' +
          '</div>' +

          '</div>' +
          '</div>';

        return get_polls
      })
      let info = ''
      for (item in poll_info) {
        info += poll_info[item] + '<br>'
      }
      document.getElementById('polls').innerHTML = info
    }).catch(function (ex) {
      console.log("parsing failed", ex);
    });
  </script>
  <script>
    function gridview() {
      // $('.project-box').removeClass("col-12");
      $('.project-box').addClass("col-12");
      $('.divclass').addClass("col-4");

    }
    function listview() {
      $($('.project-box'))
      $('.divclass').removeClass("col-4");
      $('.project-box').addClass("col-12");
    }
  </script>

  <script>
    function search() {
      let text_input = $('.search-input').val()

      let x = $('.divclass').map(item => {
        if (text_input.length > 0) {
          if ($($('.divclass')[item]).attr('name') != text_input) {
            $($('.divclass')[item]).css('display', 'none');
          } else {
            $($('.divclass')[item]).css('display', 'block');
          }
        } else {
          $($('.divclass')[item]).css('display', 'block');
        }
      })



    }
  </script>

</body>

</html>