body {background-color : #ededed; font-family : "Open Sans", sans-serif;}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}
li a {text-decoration : none; color : #0b3241; }
li:hover{background-color: #ecda9c;}

nav {
  width : 300px; 
  background: #0b3241f8;
  margin : 40px auto; 
  text-align-last: center;

}

span.span1 {
  padding : 30px;
  background : #0b324100; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  border-radius: 0.3cm;
}

span.span1::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  margin-bottom: 0cm;
  background-color:#f7f7f4;
  border-radius: 0.3cm;
  padding-inline-start: 0px;
}

.slide li {padding : 30px; list-style: none;}

#touch {position: absolute; opacity: 0; height: 0px;}    
#touch:checked + .slide {height: 175px;} 

#touch2 {position: absolute; opacity: 0; height: 0px;}    
#touch2:checked + .slide {height: 175px;} 

#touch3 {position: absolute; opacity: 0; height: 0px;}    
#touch3:checked + .slide {height: 700px;} 

#touch4 {position: absolute; opacity: 0; height: 0px;}    
#touch4:checked + .slide {height: 175px;} 

#touch5 {position: absolute; opacity: 0; height: 0px;}    
#touch5:checked + .slide {height: 250px;} 

#touch6 {position: absolute; opacity: 0; height: 0px;}    
#touch6:checked + .slide {height: 175px;} 

.icon-add{
  height: 15px;
  width: 15px;
  margin-left: 10px;
 }