{% extends 'base/dashboard_admin.html'%}

{%block content %}
<h2>Modificar Preguntas</h2>

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Modificar">

</form>
{{mensaje}}

{% endblock %}