{% extends 'base/dashboard_admin.html'%}

{%block content %}

<head>
    
    {% load static %}
    <style>
        /* css */
    </style>

    <meta charset="UTF-8">
    <title>Company</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base/css/base/style.css'%}">
    <link rel="stylesheet" href="../../static/base/css/base/containers.css">
    <link rel="stylesheet" href="../../templates/base/styles.css">

</head>

<body>


    <div class="projects-section-header">
        <p>Listado de polls</p>
    </div>

    <div class="search-wrapper">
        <input class="search-input" type="text" placeholder="Buscar">
        <svg onclick="search()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
        stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        class="feather feather-search" viewBox="0 0 24 24">
        <defs></defs>
        <circle cx="11" cy="11" r="8"></circle>
        <path d="M21 21l-4.35-4.35"></path>
        </svg>
    </div>

		<table >

			
		</thead>
		<tbody>

			
			<tr>
                <div class="grid-container3" style="padding-top: 30px;">
                        <div class="name">Nombre poll</div>
                        <div class="name">Descripcion</div>
                        <div class="name">Modificar</div>
                </div>        
            </tr>
			<hr style="color: rgba(0, 0, 0, 0.527); background-color: rgba(0, 0, 0, 0.212); width:75%; margin-left: -5px; margin-top: 0%;" />         
			{% if object_list %}
			{% for p in object_list %}

			<tr>
                <div >
                    <div class="grid-container3_1">
                        <div class="name">{{ p.name }}</div>
                        <div class="name">{{ p.description }}</div>
                        <a href="{% url 'editar_poll' p.id %}" class="button1">Modificar</a>
                            
                    </div>
                </div>
				<hr style="color: rgba(0, 0, 0, 0.527); background-color: rgba(0, 0, 0, 0.068); width:75%; margin-left: -5px; margin-top: 0%; margin-top: 0px;" />
            </tr>
			{% endfor %}
			
			{% else %}
			<div style="padding-top: 50px;align-self: center; text-align-last: center;">
				<img src="../../static/base/img/lupa.png" alt="" style="height: 60px; width: 60px;">
				<h1>No hay registros de solicitudes</h1>
			</div>
			{% endif %}
		</tbody>
	</table> 

	{% endblock%}	
</body>
