{% extends 'base/dashboard_admin.html'%}

{% block content %}

<head>
    
    <link href="../../static/base/css/base/containers.css" rel="stylesheet" type="text/css" />
    <style>

    </style>

</head>

<body>

    <div class="projects-section-header">
        <p>Nueva Encuesta</p>
    </div>
    {% load crispy_forms_tags %}

                <!--Register-->
                <form method="POST">
                    {% csrf_token %}
                     {{ poll_form|crispy }}
                  <button class="button1" type="submit" style="margin-top: 15px;">Registrar</button>
                 </form>
                   

{% endblock %}    
{{mensaje}}    
</body>
