{% extends 'base/dashboard_admin.html'%}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .textinput{
            display: block;
            width: 100%;
            height:calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color:#495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
        .textarea{
            display: block;
            width: 100%;
            height:calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color:#495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
        .select{
            display: block;
            width: 100%;
            height:calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color:#495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    </style>
    <link rel="stylesheet" href="../../static/base/css/base/containers.css" type="text/css">
</head>


<body>
    {% load crispy_forms_tags %}
    <div class="projects-section-header">
        <p>Registrar Pregunta</p>
    </div>
    <div style="font-family: 'Open Sans', sans-serif;">
        <form method="POST">
            {% csrf_token %}
                {{ poll_form|crispy }}
            <button class="button1" type="submit">Registrar</button>
        </form>
          
    </div>
      

{% endblock %}    
{{mensaje}}

</body>
    