{% extends 'base/dashboard_admin.html'%}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../../static/base/css/base/containers.css" rel="stylesheet" type="text/css" />
    <style>
        
    </style>

</head>

<body>

    {% load crispy_forms_tags %}

    <!--Register-->

    <div class="projects-section-header">
        <p>Nueva Campaña</p>
    </div>
        <form method="POST">
            {% csrf_token %}
            {{ poll_form|crispy }}
            <div style="padding-top: 15px;"> <button class="button1" type="submit">Registrar</button></div>
        </form>                           
    </div>

    {% endblock %}    
    {{mensaje}}    
</body>
