<!DOCTYPE html5>
<html lang="Es">
<head>

   <title>Regístrate - ThinkGo</title>
   <style>
      .select{
         width: 100%;
         height: 25px;
      }
      .textinput{
         width: 100%;
         height: 25px;
      }
      .emailinput{
         width: 100%;
         height: 25px;
      }
   </style>


   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
   integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="{../base/css/base/style.css'%}">
   <link rel="stylesheet" href="../../static/base/css/base/containers.css">


</head>


<body style="background-image: url('../../static/base/img/fondo1.png'); background-size: 100% 100%;">
   <div style="  align-items: center; text-align: -webkit-center;">
      <img src="/static/base/img/logoTG.png" alt="" style="padding-top: 15px; padding-bottom: 20px;">


   <div style="align-items:center; background-color: #f7f7f4; border-radius: 8px 8px 0 0;
               box-sizing:border-box; padding: 10px 16px; position:relative; width: 432px; z-index: 1; text-align: center;">
                        <h1 style="font-weight: 700; font-size: 3rem;">Regístrate</h1>
                        <h1 style="font-weight: 500; font-size: 2rem;">Es gratis</h1>

   </div>


   <div style="border-top: 1px solid #dadde1; box-sizing: border-box; border-radius: 0 0 8px 8px; padding:16px; width: 432px;
               background-color: #f7f7f4;">
      {% block content %}
      {% load crispy_forms_tags %}
                  <!--Register-->
       <div class="container py-5" style="text-align: left;">

                  <form method="POST">
                      {% csrf_token %}
                       {{ register_form|crispy }}
                    <div style="text-align: center"><button class="button1" type="submit">Registrar</button></div>
                   </form>
                      <p class="text-center">¿Ya tienes una cuenta?, <a href="/login">Ingresa</a></p>
               </div>

   {% endblock %}
   {{mensaje}}





   </div>



   </div>




</body>
