<!DOCTYPE html>
<html lang="en">
{% extends 'base/dashboard_admin.html'%}

{%block content %}

<head>
    <style>
        .button, input{
            width: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/base/css/base/containers.css" type="text/css">

</head>


<div class="projects-section-header">
    <p>Nueva Empresa</p>
</div>

<form action="" method="POST">
    {% csrf_token %}
    
        {{form.as_table}}
    
        <div style="padding-top: 15px;"><input type="reset" value="limpiar" class="button1">
            <input type="submit" value="Guardar" class="button1">
        </div>
    
</form>
{{mensaje}}
    

{% endblock %}