{% extends 'base/profile.html' %}
{% load static i18n %}

{% block profile-content %}
<div class="account-hub-content">
  <!-- SECTION HEADER -->
  <div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
      <!-- SECTION PRETITLE -->
      <p class="section-pretitle">{% trans 'Account' %}</p>
      <!-- /SECTION PRETITLE -->

      <!-- SECTION TITLE -->
      <h2 class="section-title">{% trans 'Change Password' %}</h2>
      <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>
  <!-- /SECTION HEADER -->

  <!-- GRID COLUMN -->
  <div class="grid-column">
    <!-- WIDGET BOX -->
    <div class="widget-box">
      <!-- WIDGET BOX CONTENT -->
      <div class="widget-box-content">
        <!-- FORM -->
        <form class="form" method='post'>
          {% csrf_token %}
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INFO -->
              {{ form.new_password1.help_text|safe }}
              {% if form.errors %}
              <p class="errornote">
              {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
              </p>
              {% endif %}
              <!-- /FORM INFO -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input small {% if form.old_password.errors %}has-error{% endif %}">
                <label for="account-current-password">{% trans 'Confirm your Current Password' %}</label>
                {{form.old_password}}
                {% if form.old_password.errors  %}
                <span>{{ form.old_password.errors|striptags }}</span>
                {% endif %}
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row split">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input small {% if form.new_password1.errors %}has-error{% endif %}">
                <label for="account-new-password">{% trans 'Your New Password' %}</label>
                {{form.new_password1}}
                {% if form.new_password1.errors  %}
                <span>{{ form.new_password1.errors|safe }}</span>
                {% endif %}
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->

            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input small {% if form.new_password2.errors %}has-error{% endif %}">
                <label for="account-new-password-confirm">{% trans 'Confirm New Password' %}</label>
                {{form.new_password2}}
                {% if form.new_password2.errors  %}
                <span>{{ form.new_password2.errors|safe }}</span>
                {% endif %}
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row split">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- BUTTON -->
              <p id="change-password" class="button full primary">{% trans 'Change Password Now!' %}</p>
              <!-- /BUTTON -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
        </form>
        <!-- /FORM -->
      </div>
      <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->
  </div>
  <!-- /GRID COLUMN -->
</div>
{% endblock %}
