{% extends 'bas/profile.html' %}
{% load static i18n %}

{% block profile-content %}
<div class="account-hub-content">
  <!-- SECTION HEADER -->
  <div class="section-header">
    <!-- SECTION HEADER INFO -->
    <div class="section-header-info">
      <!-- SECTION PRETITLE -->
      <p class="section-pretitle">{% trans 'Account' %}</p>
      <!-- /SECTION PRETITLE -->

      <!-- SECTION TITLE -->
      <h2 class="section-title">{% trans 'Change Password' %}</h2>
      <!-- /SECTION TITLE -->
    </div>
    <!-- /SECTION HEADER INFO -->
  </div>
  <!-- /SECTION HEADER -->

  <!-- GRID COLUMN -->
  <div class="grid-column">
    <!-- WIDGET BOX -->
    <div class="widget-box">
      <!-- WIDGET BOX CONTENT -->
      <div class="widget-box-content">

        <!-- PASSWORD CHANGE DONE -->
        <p>{% trans 'Your password was changed.' %}</p>
        <!-- /PASSWORD CHANGE DONE -->

    </div>
    <!-- WIDGET BOX CONTENT -->
  </div>
  <!-- /WIDGET BOX -->
</div>
<!-- /GRID COLUMN -->
</div>

{% endblock %}
