{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- bootstrap 4.3.1 -->
  <link rel="stylesheet" href="{% static 'base/css/vendor/bootstrap.min.css'%}">
  <!-- styles -->
  <link rel="stylesheet" href="{% static 'base/css/styles.css'%}">
  <!-- favicon -->
  <link rel="icon" href="{% static 'base/img/favicon.ico'%}">
  <title>{{title}}</title>
  <script>
    const game_logo="{% static 'base/img/landing/logo.png'%}";
  </script>

</head>
<body>

  <!-- LANDING -->
  <div class="landing">

    <!-- LANDING INFO -->
    <div class="landing-info">
      <!-- LANDING INFO PRETITLE -->
      <h2 class="landing-info-pretitle">Bienvenidos a</h2>
      <!-- /LANDING INFO PRETITLE -->

      <!-- LOGO -->
      <div class="logo">
        <!-- ICON LOGO VIKINGER -->
        <img class="form-box-decoration overflowing"  style="height: 150px;" src="{% static 'base/img/landing/logo-big.png'%}" alt="Gamificación">
        <!-- /ICON LOGO VIKINGER -->
      </div>
      <!-- /LOGO -->

    </div>
    <!-- /LANDING INFO -->

    <!-- LANDING FORM -->
    <div class="landing-form">
      <!-- FORM BOX -->
      <div class="form-box login-register-form-element">
        <!-- FORM BOX DECORATION -->
        <img class="form-box-decoration overflowing" src="{% static 'base/img/landing/rocket.png'%}" alt="Duoc UC">
        <!-- /FORM BOX DECORATION -->

        {% block content %}
        <!-- FORM BOX TITLE -->
        <h2 class="form-box-title">Iniciar sesión</h2>
        <!-- /FORM BOX TITLE -->

        <!-- FORM -->
        <form class="form"  method="post">
          {% csrf_token %}
          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="login-username">Usuario</label>
                <input type="text" id="login-username" name="username">
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM INPUT -->
              <div class="form-input">
                <label for="login-password">Clave</label>
                <input type="password" id="login-password" name="password">
              </div>
              <!-- /FORM INPUT -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row space-between">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- FORM LINK -->
              <a class="form-link" href="{% url 'password_reset' %}">Recuperar contraseña</a>
              <!-- /FORM LINK -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->

          <!-- FORM ROW -->
          <div class="form-row">
            <!-- FORM ITEM -->
            <div class="form-item">
              <!-- BUTTON -->
              <button type="submit" id="site-login" class="button medium secondary">Ingresa a constructores de las ventas</button>
              <!-- /BUTTON -->
            </div>
            <!-- /FORM ITEM -->
          </div>
          <!-- /FORM ROW -->
        </form>
        <!-- /FORM -->
        {% endblock %}

      </div>
      <!-- /FORM BOX -->

    </div>
    <!-- /LANDING FORM -->
  </div>
  <!-- /LANDING -->

<!-- app -->
<script src="{% static 'base/js/utils/app.js'%}"></script>
<!-- XM_Plugins -->
<script src="{% static 'base/js/vendor/xm_plugins.min.js'%}"></script>
<!-- form.utils -->
<script src="{% static 'base/js/form/form.utils.js'%}"></script>
<!-- landing.tabs -->
<script src="{% static 'base/js/landing/landing.tabs.js'%}"></script>
<!-- SVG icons -->
<script src="{% static 'base/js/utils/svg-loader.js'%}"></script>
</body>
</html>
