{% extends 'rvc/login.html' %}
{% load i18n %}

{% block content %}
  <div id="password-reset">
    <div class="alert alert-info">
      {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </div>

    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="control-label" for="id_email">{% trans 'E-mail address' %}:</label>
            <input id="id_email" class="form-control" maxlength="254" name="email" type="email" value="{%if form.email.value %}{{form.email.value}}{% endif %}">
            <span class="help-block text-right" for="id_{{form.email.name}}">
              {{ form.old_password.errors|striptags }}
            </span>
          </div>
        </div>
        <div class="col-sm-12">
          <span class="help-block text-right">
            {{ form.email.errors }}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group text-right">
            <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}">
          </div>
        </div>
      </div>

    </form>
  </div>
{% endblock %}
