{% extends 'rvc/login.html' %}
{% load i18n %}

{% block content %}
<div id="password-reset">
  <div class="alert alert-info">
    {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
  </div>
  <div class="alert alert-info">
    {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
  </div>
</div>
{% endblock %}
