{% extends 'rvc/login.html' %}
{% load i18n static %}

{% block content %}
<div id="password-reset">
  {% if validlink %}
    <div class="alert alert-info">
      {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    </div>

    <form method="post">
      {% csrf_token %}
      <fieldset>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
              <label clas="control-label required" for='id_new_password1'>{% trans 'New password' %}:</label>
              <input id="id_new_password1" class="form-control" name='new_password1' type='password' placeholder="{% trans 'New password' %}">
              <span class="help-inline help-block">{{ form.new_password1.errors|striptags }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            {{ form.new_password1.help_text|safe }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
              <label class="control-label required" for='id_new_password2'>{% trans 'Password (again)' %}:</label>
              <input id="id_new_password2" class="form-control" name='new_password2' type='password' placeholder="{% trans 'Password (again)' %}">
              <span class="help-inline help-block">{{ form.new_password2.errors|striptags }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
          {{ form.new_password2.help_text|safe }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <div class="text-right">
                <input class="btn btn-primary" type='submit' value="{% trans 'Change my password' %}">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>

  {% else %}
    <div class="alert alert-danger">
      {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
    </div>
  {% endif %}
</div>
{% endblock %}
