{% extends 'rvc/login.html' %}
{% load i18n %}

{% block content %}
<div id="password-reset">
  <div class="alert alert-info">
    {% trans "Your password has been set.  You may go ahead and log in now." %}
    <a class="btn btn-primary" href="{{ login_url }}">{% trans 'Log in' %}</a>
  </div>
</div>
{% endblock %}
